---
import Greeting from "../components/Greeting";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Astro Blog";

const pageDescription = "このサイトはYukiのブログサイトとなっています。";
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <h2>ブログのサブタイトル</h2>
  <Greeting
    client:load
    messages={["こんにちは", "どうも", "初めまして", "ようこそ"]}
  />
</BaseLayout>
